//Variables
$website-width: 1280px;
$dark-blue: #1d3557;
$mid-blue: #457b9d;
$light-blue: #a8dadc;
$cream-white: #f1faee;
$imperial-red: #e63946;
$dark-color: #333;
$mid-color: #777;
$bg-image: url("../img/back1.jpg");

//Set text color
@function set-text-color($bg-color) {
  @if (lightness($bg-color) > 50) {
    @return #000;
  } @else {
    @return $cream-white;
  }
}
