@import "config";
@import "utilities";

// General styles

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: $cream-white;
  font-family: "Sacramento", cursive;
  line-height: 1.6;
  font-size: x-large;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

// Loader

.loader {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  background: $cream-white;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.srdce {
  background: red;
  width: 100px;
  height: 100px;
  position: relative;
  transform: rotate(45deg) scale(1);
  animation: puls 1.5s linear infinite;
}

@keyframes puls {
  50% {
    transform: rotate(45deg) scale(1.2);
  }

  100% {
    transform: rotate(45deg) scale(1);
  }
}

.srdce::before {
  content: "";
  background: inherit;
  border-radius: 50%;
  position: absolute;
  width: 100px;
  height: 100px;
  top: -50%;
  left: 0;
}

.srdce::after {
  content: "";
  background: inherit;
  border-radius: 50%;
  position: absolute;
  width: 100px;
  height: 100px;
  bottom: 0;
  left: -50%;
}

.loader.hidden {
  animation: fadeOut 1s;
  animation-fill-mode: forwards;
}

@keyframes fadeOut {
  100% {
    visibility: hidden;
    opacity: 0;
  }
}

// Navbar

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $dark-blue;
  opacity: 0.8;
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0px;
  padding: 0 30px;
  z-index: 2;

  ul {
    display: flex;

    a {
      color: set-text-color($dark-blue);
      padding: 5px 15px;

      &:hover {
        border-bottom: $imperial-red solid 2px;
      }
    }
  }
}

// Header

.hero {
  background: $bg-image no-repeat center center/cover;
  height: 100vh;
  position: relative;
  color: $cream-white;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(255, 0, 0, 0.6));
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 350px;
    height: 100%;

    h1,
    h3 {
      z-index: 1;
    }
  }
}

// Kdy a kde

.container-kdyakde {
  display: flex;
  justify-items: center;

  img {
    flex: 1;
    overflow: hidden;
    position: relative;
  }

  .mapa {
    flex: 1;
    overflow: hidden;
    position: relative;
    margin-right: 2rem;

    iframe {
      border: 0;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }
}

.timeline {
  overflow-x: hidden;

  ul {
    background-color: $cream-white;
    padding: 1rem 0 2rem 0;

    li {
      position: relative;
      list-style: none;
      width: 6px;
      margin: 0 auto;
      padding-top: 50px;
      background: $dark-blue;

      div {
        position: relative;
        //bottom: 0;
        width: 400px;
        padding: 1rem;
        background: $light-blue;
        transition: all 0.5s ease-in-out;
        text-align: center;
        visibility: hidden;
        opacity: 0;

        h3 {
          width: 100px;
          border-bottom: 2px solid $imperial-red;
          margin: auto;
          margin-bottom: 0.5rem;
        }

        &:before {
          content: "";
          position: absolute;
          bottom: 5px;
          width: 0;
          height: 0;
          border: solid;
        }
      }

      &:nth-child(odd) div {
        left: 40px;
        transform: translateX(200px);

        &:before {
          left: -15px;
          border-width: 8px 16px 8px 0px;
          border-color: transparent $light-blue;
        }
      }

      &:nth-child(even) div {
        left: -434px;
        transform: translateX(-200px);

        &:before {
          right: -15px;
          border-width: 8px 0 8px 16px;
          border-color: transparent $light-blue;
        }
      }

      &:after {
        content: "";
        position: absolute;
        left: -160%;
        bottom: 0;
        width: 25px;
        height: 25px;
        background: inherit;
        border-radius: 50%;
        transition: background 2s ease-in-out;
      }

      &.show div {
        visibility: visible;
        opacity: 1;
        transform: translateX(0);
      }

      &.show:after {
        background: $imperial-red;
      }
    }
  }
}

// RSVP

.container-rsvp {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .form-wrapper {
    border-radius: 5px;
    max-width: 700px;
    background-color: $light-blue;
    //padding: 0.5rem;
    overflow: hidden;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
    width: 700px;
    max-width: 100%;

    .header {
      background-color: $dark-blue;
      padding: 0.3rem 1rem;
      text-align: center;
      color: set-text-color($dark-blue);

      h3 {
        margin: 0;
      }
    }

    .form {
      padding: 1rem 2rem;

      .form-control {
        margin-bottom: 0.2rem;
        padding-bottom: 0.5rem;
        position: relative;

        input {
          display: block;
          border: 1px solid $mid-color;
          border-radius: 4px;
          width: 100%;
          font-family: "Roboto", sans-serif;
          padding: 0.5rem 0.5rem;

          &:focus {
            outline: 0;
            border-color: $dark-blue;
          }
        }

        textarea {
          display: block;
          border: 1px solid $mid-color;
          border-radius: 4px;
          width: 100%;
          padding: 0.3rem 0.3rem;
          font-family: "Roboto", sans-serif;
          height: 180px;
          overflow: hidden;

          &:focus {
            outline: 0;
            border-color: $dark-blue;
          }
        }

        option {
          font-family: "Roboto", sans-serif;
          border: 1px solid $mid-color;
        }

        i {
          position: absolute;
          right: 0;
          top: 0;
          visibility: hidden;
        }

        small {
          position: absolute;
          top: 0;
          right: 50px;
          visibility: hidden;
        }
      }

      .form-control.success input {
        border-color: green;
      }

      .form-control.error input {
        border-color: red;
      }

      .form-control.success i.fa-check-circle {
        visibility: visible;
        color: green;
        opacity: 0.7;
      }

      .form-control.error i.fa-exclamation-circle {
        visibility: visible;
        color: red;
        opacity: 0.7;
      }

      .form-control.error small {
        visibility: visible;
        color: red;
        opacity: 0.7;
      }

      /*.form-control.message small {
        visibility: visible;
        color: #000000;
        opacity: 0.7;
      }*/

      .btn-form {
        display: block;
        width: 100px;
        margin: auto;
        padding: 0.5rem 0;
        text-align: center;
        font-family: "Sacramento", cursive;
        font-size: x-large;
        border-radius: 5px;
      }
    }
  }
}

// Galerie

.images {
  display: grid;
  grid-gap: 0.5rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

// Footer
#footer a {
  color: $light-blue;
}
